[submodule "app/src/remix-ide"]
	path = app/src/remix-ide
	url = git@github.com:ethereum/remix-ide.git
[submodule "app/src/vyper"]
	path = app/src/vyper
	url = https://github.com/jacqueswww/vyper
	branch = add_cors_all_headers
